<div class="teams-container">
  <% teams.forEach(function(team) { %>
  <div class="team">
    <header class="z-depth-4" style="background: <%= team.color %>; background: linear-gradient(to right, <%= team.color %>, transparent);">
      <img src="<%= team.imageUrl %>">
      <span class="name"><%= team.name %></span>
    </header>
    <div class="details z-depth-4" style="background: <%= team.color.replace(/,[\d\.\s]+\)/, ', 0.6)') %>">
      <% team.scorers.forEach(function(scorer) { %>
      <div><i class="fa fa-fw fa-crosshairs"></i> <%= scorer %></div>
      <% }); %>
      <div><i class="fa fa-fw fa-road"></i> <%= team.runner %></div>
    </div>
  </div>
  <% }); %>
</div>
